<style >
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
</style >
body {
    /*Selector*/
    h1

{
    font-family: 'Playwrite_CU', Arial;
    text-align: center;
}

p {
    font-family: 'Roboto';
    text-align: justify;
    font-size: 200%;
}
/*Таким образом обозначаются селекторы, созданные при помощи атрибута 'id'. Этот атрибут позволяет создать уникальное имя, применимое только к одному дескриптору. */
#one {
    color: green;
}

.paragraph {
    margin: 16px 32px;
    border-style: solid;
    border-color: black;
    padding: 20px 40px;
    border-block-color: aquamarine;
    border-block-start-color: aqua;
    border-block-end-color: blue;
}
}
