@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: Roboto;
    background-color: royalblue;
    background-image: url(pcbTexture1.jpg);
    background-attachment: fixed;
}
h1
{
    font-family:'Playwrite CU',Arial;
}
h4
{
    text-align:center;
}
p
{
    font-size:18px;
    background-color:rgba(0,100,0,.3);
    text-align:justify;
}
img
{
    /*float:left;*/

    border:solid;
    border-width:1px;
    /*выравнивание картинки по середине*/
    display:block;
    margin-right:auto;
    margin-left:auto;
    width:50%;
}
table
{
    border:solid;
    border-collapse:collapse;
    width: 45%;
    /*выравнивание содержимого таблицы*/
    text-align:center;
    /*выравнивание таблицы по центру*/
    margin-left:auto;
    margin-right:auto;
}
table thead
{
    background-color:Highlight;
    color:white;
}
table th, table td
{
    border-block:solid;
    border-right:solid;
    border-left:solid;
    border-width:1px;
}
.leftHeader{
    text-align:left;
    padding:10px;
}
th{
    padding:20px;
}
ul
{
    list-style:none;
}
/*Ссылка*/
a
{
    color:Highlight;
}
/*Посещенная ссылка*/
a:visited
{
    color:darkblue;
}

/*Наведение мышм на ссылку*/
a:hover{
    background-color:Highlight;
    color:white;
    font-size:x-large;
}
/*Активная ссылка на которую мы нажали*/
a:active{
    color:lime;
}

#content{
    width:80%;
    height:50%;
    border-style:solid;
    border-width:1px;
    /*20px - сверху снизу, а 10рх - справа слева*/
    padding:20px 10px;
    /*20px - сверху, а 10рх - справа слева, 40px - снизу*/
    padding:20px 10px 40px;
}