body {
    /*background-color: #D8D8D8;*/
    transition: background 2s, color 2s;
}

#header {
    display: flex;
}

#background_switch {
    width: 24px;
    height: 24px;
    transition: all 2s ease-in-out;
}
#background_switch_2 {
    width: 24px;
    height: 24px;
    transition: all 2s ease-in-out;
}

.light {
    background-color: #D8D8D8;
    color: #323232;
}

    .light #background_switch {
        content: url("img/moon.png");
        opacity: 1;
        /*transition: all 2s ease-in-out;*/
    }
    .light #background_switch_2 {
        opacity:0;
        /*transition:all 2s ease-in-out;*/
    }

.dark {
    background-color: #323232;
    color: #D8D8D8;
}

    .dark #background_switch {opacity: 0;
        transition: all 2s ease-in-out;

    }
    .dark #background_switch_2 {
        content: url("img/sun.png");
        opacity: 1;
        transition: all 2s ease-in-out;
    }

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.main_item {
    background: orange;
    border-block-color:black;
    border-block-style:solid;
    padding: 10px;
    margin-right: 5px;
    width: 82px;
    height: 30px;
    font-size: 23px;
    text-align:center;


}
.main_item_hidden {
    background-color: none;
    font-family:digital-7;
    color: blue;
}

.main_item1_anim {
    background: orange;
    border-block-color: black;
    border-block-style: solid;
    padding: 10px;
    margin-right: 5px;
    width: 82px;
    height: 30px;
    font-size: 23px;
    text-align: center;
    animation: 0.5s linear infinite rotate;
    /*animation-delay: 1s;*/
    transform-origin: bottom;
    
}

@keyframes rotate{
    from{
        transform:rotateX(0deg);
    }
    to{
        transform:rotateX(90deg);
    }
}

.main_item2_anim {
    background: orange;
    border-block-color: black;
    border-block-style: solid;
    padding: 10px;
    margin-right: 5px;
    width: 82px;
    height: 30px;
    font-size: 23px;
    text-align: center;
    animation: 0.5s linear infinite rotate2;
    animation-delay: 0.5s;
    transform-origin: top;
    
}
@keyframes rotate2 {
    from {
        transform: rotateX(90deg);
    }

    to {
        transform: rotateX(0deg);
    }
}

@font-face {
    font-family: digital-7;
    src: url('fonts/digital-7.ttf');
}
@font-face {
    font-family: Digitag;
    src: url('fonts/Digitag.ttf');
}