body
{
    background-color:rgb(50,50,50);
}
table
{
    width:100%;
    border-collapse:separate;
    background-color:rgb(50, 50, 50);
    color:white;
    font-family:Arial;
}
table th, table td
{
    height:10px;

    border-block: solid;
    border-right: solid;
    border-left: solid;
    border-width: 1px;
    border-color:gray;
}
td.num
{
    color:mediumslateblue;
    text-align:center;
    font-size:14px;
}

td.hard
{
    color:silver;
    position:relative;
}

    td.hard:hover {
        color: yellow;
    }

#hardMaterial:hover ~ td.hard:hover{
    border: 5px solid yellow;
}

td.liquid
{
    color:aqua;
}
td.gas
{
    color:orangered;
}
td.unknown
{
    color:chartreuse;
}
td.nonMetal
{
    background-color:darkolivegreen;
}
td.royalGas
{
    background-color:purple;
}
td.alkalMetal
{
    background-color:chocolate;
}
td.alkaEarthMetal
{
    background-color:darkgoldenrod;
}
td.lantanid
{
    background-color:saddlebrown;
}
td.aktinoid
{
    background-color:crimson;
}
td.transMetal
{
    background-color:brown;
}
td.postMetal
{
    background-color:darkblue;
}
td.semiMetal
{
    background-color:teal;
}


/************************************************/
.s
{
    width: 3.2%;
    height: 70px;
    background: rgb(75, 75, 75);
    float: left;
    margin: 0 15px 15px 0;
    padding: 10px;
    font-family:Arial;
    
    font-size:10px;
}
.null {
    width: 3.2%;
    height: 70px;
    background-color: rgb(50,50,50);
    float: left;
    margin: 0 15px 15px 0;
    padding: 10px;
    font-family: Arial;
    font-size: 10px;
}
.ns {
    width: 100%;
    height: 90px;
    margin: 0 15px 15px 0;
}

.solid{
    color:magenta;
}
#trigSolid:hover ~ .solid
{
    color:black;
    background-color:silver;
}

.liq{
    color:aqua;
}
#trigLiq:hover ~ .liq {
    color: black;
    background-color: silver;
}

.gas{
    color:red;
}
#trigGas:hover ~ .gas {
    color: black;
    background-color: silver;
}

.unk{
    color:yellowgreen;
}
#trigUnknown:hover ~ .unk {
    color: black;
    background-color: silver;
}