body
{
}
table
{
    width:100%;
    border-collapse:separate;
    background-color:rgb(50, 50, 50);
    color:white;
    font-family:Arial;
}
table th, table td
{
    height:10px;

    border-block: solid;
    border-right: solid;
    border-left: solid;
    border-width: 1px;
    border-color:gray;
}
td.num
{
    color:mediumslateblue;
    text-align:center;
    font-size:10px;
}

td.hard
{
    color:silver;
}
td.liquid
{
    color:aqua;
}
td.gas
{
    color:orangered;
}
td.unknown
{
    color:chartreuse;
}
td.nonMetal
{
    background-color:darkolivegreen;
}
td.royalGas
{
    background-color:purple;
}
td.alkalMetal
{
    background-color:chocolate;
}
td.alkaEarthMetal
{
    background-color:darkgoldenrod;
}
td.lantanid
{
    background-color:saddlebrown;
}
td.aktinoid
{
    background-color:crimson;
}
td.transMetal
{
    background-color:brown;
}
td.postMetal
{
    background-color:darkblue;
}
td.semiMetal
{
    background-color:teal;
}
