body
{
    background-color:rgb(50,50,50);
    color:antiquewhite;
}
table
{
    width:100%;
    border-collapse:separate;
    background-color:rgb(50, 50, 50);
    color:white;
    font-family:Arial;
}
table th, table td
{
    height:10px;

    border-block: solid;
    border-right: solid;
    border-left: solid;
    border-width: 1px;
    border-color:gray;
}
td.num
{
    color:mediumslateblue;
    text-align:center;
    font-size:14px;
}

td.hard
{
    color:silver;
    position:relative;
}

    td.hard:hover {
        color: yellow;
    }

#hardMaterial:hover ~ td.hard:hover{
    border: 5px solid yellow;
}

td.liquid
{
    color:aqua;
}
td.gas
{
    color:orangered;
}
td.unknown
{
    color:chartreuse;
}
td.nonMetal
{
    background-color:darkolivegreen;
}
td.royalGas
{
    background-color:purple;
}
td.alkalMetal
{
    background-color:chocolate;
}
td.alkaEarthMetal
{
    background-color:darkgoldenrod;
}
td.lantanid
{
    background-color:saddlebrown;
}
td.aktinoid
{
    background-color:crimson;
}
td.transMetal
{
    background-color:brown;
}
td.postMetal
{
    background-color:darkblue;
}
td.semiMetal
{
    background-color:teal;
}


/************************************************/
.s, .us
{
    width: 3.2%;
    height: 70px;
    background: rgb(75, 75, 75);
    float: left;
    margin: 0 15px 15px 0;
    padding: 10px;
    font-family:Arial;
    
    font-size:12px;
}

.null {
    width: 3.2%;
    height: 70px;
    background-color: rgb(50,50,50);
    float: left;
    margin: 0 15px 15px 0;
    padding: 10px;
    font-family: Arial;
    font-size: 10px;
}
.ns {
    width: 100%;
    height: 90px;
    margin: 0 15px 15px 0;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
}
.control {
    writing-mode: vertical-rl;
    font-size: 13px;
    text-align:center;
}
.agr{
    background-color: rgb(10, 0, 100);
}
.solid{
    color:violet;
}
#trigSolid:hover ~ .solid
{
    color:black;
    background-color:silver;
}

.liq{
    color:aqua;
}
#trigLiq:hover ~ .liq {
    color: black;
    background-color: silver;
}

.gas{
    color:red;
}
#trigGas:hover ~ .gas {
    color: black;
    background-color: silver;
}

.unk{
    color:yellowgreen;
}
#trigUnknown:hover ~ .unk {
    color: black;
    background-color: silver;
}

.alkalMetal,.alkalMetalCon{
    background-color:rgb(120, 50, 0);
}
#trigAlkalMetal:hover ~ .alkalEarthMetal{background-color:rgb(50,50,50);color:rgb(50,50,50);}
#trigAlkalMetal:hover ~ .transMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAlkalMetal:hover ~ .postMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAlkalMetal:hover ~ .lantanoid{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAlkalMetal:hover ~ .aktinoid{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAlkalMetal:hover ~ .semiMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAlkalMetal:hover ~ .nonMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAlkalMetal:hover ~ .royalGas {background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAlkalMetal:hover ~ .us {background-color: rgb(50,50,50);color: rgb(50,50,50);}

.alkalEarthMetal,.alkalEarthMetalCon{
    background-color:darkolivegreen;

}
#trigAlkalEarthMetal:hover ~ .alkalMetal {background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAlkalEarthMetal:hover ~ .transMetal {background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAlkalEarthMetal:hover ~ .postMetal {background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAlkalEarthMetal:hover ~ .lantanoid {background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAlkalEarthMetal:hover ~ .aktinoid {background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAlkalEarthMetal:hover ~ .semiMetal {background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAlkalEarthMetal:hover ~ .nonMetal {background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAlkalEarthMetal:hover ~ .royalGas {background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAlkalEarthMetal:hover ~ .us {background-color: rgb(50,50,50);color: rgb(50,50,50);}

.transMetal,.transMetalCon{
    background-color:darkred;
}
#trigTransMetal:hover ~ .alkalEarthMetal {background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigTransMetal:hover ~ .alkalMetal {background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigTransMetal:hover ~ .postMetal {background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigTransMetal:hover ~ .lantanoid {background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigTransMetal:hover ~ .aktinoid {background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigTransMetal:hover ~ .semiMetal {background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigTransMetal:hover ~ .nonMetal {background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigTransMetal:hover ~ .royalGas {background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigTransMetal:hover ~ .us {background-color: rgb(50,50,50);color: rgb(50,50,50);}


.postMetal,.postMetalCon{
    background-color:darkslateblue;
}
#trigPostMetal:hover ~ .alkalEarthMetal {background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigPostMetal:hover ~ .alkalMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigPostMetal:hover ~ .transMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigPostMetal:hover ~ .lantanoid{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigPostMetal:hover ~ .aktinoid{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigPostMetal:hover ~ .semiMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigPostMetal:hover ~ .nonMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigPostMetal:hover ~ .royalGas{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigPostMetal:hover ~ .us{background-color: rgb(50,50,50);color: rgb(50,50,50);}

.lantanoid,.lantanoidCon {
    background-color: rgb(75, 35, 0);
}
#trigLantanoid:hover ~ .alkalEarthMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigLantanoid:hover ~ .alkalMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigLantanoid:hover ~ .transMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigLantanoid:hover ~ .postMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigLantanoid:hover ~ .aktinoid{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigLantanoid:hover ~ .semiMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigLantanoid:hover ~ .nonMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigLantanoid:hover ~ .royalGas{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigLantanoid:hover ~ .us{background-color: rgb(50,50,50);color: rgb(50,50,50);}

.aktinoid,.aktinoidCon{
    background-color:rgb(150, 50, 50);
}
#trigAktinoid:hover ~ .alkalEarthMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAktinoid:hover ~ .alkalMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAktinoid:hover ~ .transMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAktinoid:hover ~ .postMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAktinoid:hover ~ .lantanoid{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAktinoid:hover ~ .semiMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAktinoid:hover ~ .nonMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAktinoid:hover ~ .royalGas{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigAktinoid:hover ~ .us{background-color: rgb(50,50,50);color: rgb(50,50,50);}

.semiMetal,.semiMetalCon{
    background-color:darkslategrey;
}
#trigSemiMetal:hover ~ .alkalEarthMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigSemiMetal:hover ~ .alkalMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigSemiMetal:hover ~ .transMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigSemiMetal:hover ~ .postMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigSemiMetal:hover ~ .lantanoid{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigSemiMetal:hover ~ .aktinoid{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigSemiMetal:hover ~ .nonMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigSemiMetal:hover ~ .royalGas{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigSemiMetal:hover ~ .us{background-color: rgb(50,50,50);color: rgb(50,50,50);}

.nonMetal,.nonMetalCon{
    background-color:darkgreen;
}
#trigNonMetal:hover ~ .alkalMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigNonMetal:hover ~ .alkalEarthMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigNonMetal:hover ~ .transMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigNonMetal:hover ~ .postMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigNonMetal:hover ~ .lantanoid{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigNonMetal:hover ~ .aktinoid{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigNonMetal:hover ~ .semiMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigNonMetal:hover ~ .royalGas{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigNonMetal:hover ~ .us{background-color: rgb(50,50,50);color: rgb(50,50,50);}

.royalGas,.royalGasCon{
    background-color:indigo;
}
#trigRoyalGas:hover ~.alkalMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigRoyalGas:hover ~.alkalEarthMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigRoyalGas:hover ~.transMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigRoyalGas:hover ~.postMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigRoyalGas:hover ~.lantanoid{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigRoyalGas:hover ~.aktinoid{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigRoyalGas:hover ~.semiMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigRoyalGas:hover ~.nonMetal{background-color: rgb(50,50,50);color: rgb(50,50,50);}
#trigRoyalGas:hover ~.us{background-color: rgb(50,50,50);color: rgb(50,50,50);}