@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>


<div style="display:flex; justify-content:flex-start;">
	@*<input type="number" min="1" max="10" style="margin-right:5px;" value="@Step" @onchange="SetStep"/>*@
	<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    <input type="text" @oninput="OnChange"/>
    <p>@text</p>
</div>
<div style="background-color:lightblue" @onmouseover="onMouseOver" @onmouseout="onMouseOut">
    @divText;
</div>
@if(@currentCount>5)
{
    <div>Hello!</div>
}
<ol>
    @for(int i=0;i<currentCount;i++)
    {
        <li>Pressed @i</li>
    }
</ol>

@code {
    private int currentCount = 0;

    public int Step { get; set; } = 1;//автосвойствам дали зн-е по умолчанию
                                      //int step;
                                      //public int Step
                                      //{
                                      //    get => step;
                                      //    set
                                      //    {
                                      //        step = value < 1 ? 1 : value > 10 ? 10 : value;
                                      //    }
                                      //} = 1;
    string text = "";
    string divText = "Mouse out";
    private void IncrementCount()=>currentCount++;
    private void SetStep(ChangeEventArgs e)=>Step = (int)e.Value!;
    private void OnChange(ChangeEventArgs e)=>text = (string)e.Value!;
    private void onMouseOver(MouseEventArgs e)=>divText = "Mouse over";
    private void onMouseOut(MouseEventArgs e)=>divText = "Mouse out";

}
