@page "/"

<PageTitle>Index</PageTitle>

<h1>Introduction to Blazor</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div><Counter></Counter></div>
@*<div><FetchData></FetchData></div>*@